* {
  box-sizing: border-box;
}

/* input {
  border: 0.5px solid black;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 14px;
} */

.calc__container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px;
}

.calc__title {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
}

.material {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  margin-bottom: 30px;
}

.material__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 150px;
}

.material__img {
  width: 100%;
}

.calc-radio {
  cursor: pointer;
  display: flex;
  column-gap: 5px;
}

.calc-radio span {
  display: inline-block;
}

.calc-radio__input {
  width: 15px;
}

.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  width: 300px;

  font-size: 24px;
  font-weight: 400;

  margin: 0 auto 30px auto;
}

.structure .choices {
  width: 100%;
}

.calc-form__wrap {
  max-width: 300px;
  margin: 0 auto;
}

.weight {
  display: flex;

  align-items: center;
  margin-bottom: 30px;
}

.weight__title {
  margin-right: 15px;
}

.weight .choices {
  width: 120px;
  margin-bottom: 0;
  margin-right: 5px;
}

.pallet {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 30px;
}

.structure-prise {
  margin-bottom: 20px;
  font-size: 16px;
}

.structure-prise__span {
  font-weight: 600;
}

.pallet__title {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.color {
  margin-bottom: 30px;
}

.color span {
  display: block;
  font-size: 12px;
  text-align: right;
}

.color__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  margin-bottom: 5px;
}

.color .choices {
  width: 130px;
  margin-bottom: 0;
}

.color__preview {
  width: 110px;
  height: 44px;

  border: 1px solid #ddd;
  border-radius: 2.5px;
}

.total-price {
  margin-bottom: 30px;
  font-size: 18px;
}

.total-price__span {
  font-weight: 600;
}

.user {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 30px;
}

.user input {
  padding: 10px;

  width: 210px;

  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  font-size: 14px;
  overflow: hidden;
}

.user-phone__input {
  margin-left: 10px;
}

.user-name__input {
  margin-left: 42px;
}

.calc-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 16px;
  background-color: #963d87;
  color: #fff;
  border: none;
  line-height: 38px;
  font-size: 18px;
  cursor: pointer;
}

.calc-button:hover,
.calc-button:focus {
  background-color: #aa519b;
}

.url {
  height: 20px;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 10px;
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  content: '';
  font-size: 12px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0;
  transform: none;
}
