* {
  box-sizing: border-box;
}

img {
  display: block;
}
/* input {
  border: 0.5px solid black;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 14px;
} */

.calc__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px;
}

.calc-form {
  margin-bottom: 80px;
}

.calc__title {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
}

.material {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  margin-bottom: 30px;
}

.material__item {
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
  max-width: 150px;
}

/* .material__img {
  
} */

.calc-radio {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.material__radio {
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr 2fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 0px 5px;
  grid-template-areas:
    'material__img material__img'
    'calc-radio__input material__text';

  cursor: pointer;
}

.material__img {
  width: 100%;
  grid-area: material__img;
}
.calc-radio__input {
  grid-area: calc-radio__input;
  width: 15px;
  margin: 0px;
}
.material__text {
  grid-area: material__text;
}

.calc-radio span {
  display: inline-block;
}

/* .calc-radio__input {
  width: 15px;
} */

.calc-form__data {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;

  margin-bottom: 20px;
}

.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  max-width: 300px;

  font-size: 24px;
  font-weight: 400;

  margin: 0 auto 40px auto;
}

.structure .choices {
  width: 100%;
}

.calc-form__wrap {
  max-width: 650px;
  margin: 0 auto;
}

.weight {
  display: flex;
  column-gap: 10px;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.weight__title {
  font-size: 24px;
}

.weight .choices {
  width: 150px;
  margin-bottom: 0;
  /* margin-right: 5px; */
}

.pallet {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.pallet__input {
  margin: 0px;
}

.structure-prise {
  margin-bottom: 40px;
  font-size: 18px;
}

.structure-prise__span {
  font-weight: 600;
}

.material__title,
.pallet__title {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.color {
  margin-bottom: 40px;
}

.color span {
  display: block;
  font-size: 12px;
  text-align: right;
}

.color__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  margin-bottom: 5px;
}

.color .choices {
  width: 250px;
  margin-bottom: 0;
}

.calc-form .color .choices__list--single .choices__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc-form .color .choices__list--dropdown .choices__item--selectable {
  justify-content: space-between;
}

.color__item-bg {
  width: 120px;
  height: 20px;
}

.color__preview {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* justify-content: space-between;
  align-items: center;
  margin-top: 10px; */
}

.color__img {
  width: 100%;
}

.color__tumb {
  width: 300px;
}

.total-price {
  margin-bottom: 30px;
  font-size: 20px;
}

.total-price__span {
  font-weight: 600;
}

.user {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  width: 600px;
  margin: 0px auto 30px auto;
}

.user__wrap {
  display: flex;
  justify-content: space-between;
}

.user input {
  padding: 10px;

  width: 200px;

  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  font-size: 14px;
  overflow: hidden;
}

.user-phone,
.user-name {
  display: flex;
  column-gap: 20px;
  align-items: center;
  /* justify-content: space-between; */
}

.calc-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 16px;
  background-color: #963d87;
  color: #fff;
  border: none;
  line-height: 38px;
  font-size: 18px;
  cursor: pointer;
}

.calc-button:hover,
.calc-button:focus {
  background-color: #aa519b;
}

.url {
  height: 20px;
}

.calc-form .choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 10px;
}

.calc-form .choices__list--dropdown .choices__item--selectable::after,
.calc-form .choices__list[aria-expanded] .choices__item--selectable::after {
  content: '';
  font-size: 12px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0;
  transform: none;
}

.calc-form .structure .choices__list--single .choices__item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.calc-form .structure .choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-coment__input {
  resize: none;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  padding: 10px;
}

.description {
  text-align: justify;
}

.description__text {
  text-indent: 20px;
}

.description__list {
  padding-inline-start: 50px;
}
